<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - StravaC02</title>
      {% else %}
      <title>StravaC02</title>
      {% endif %}
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
    </head>
    <body>
        <header>
            <ul id="nav-bar">
                <a href="/"><li id="home">StravaC02</li></a>
                <a href="/about"><li>About</li></a>
            </ul>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>