@import url("/styles/common.css");

@keyframes bob {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-4px) scale(1.04);
	}
	100% {
		transform: translateY(0);
	}
}

body {
	min-width: var(--min-page-width);
}

header {
	border-bottom: 1px solid var(--divider-color);
	display: flex;
	flex-direction: row;
	padding: 0 max(calc(50% - 0.5 * var(--max-page-width)), 0px);
}

header > #nav-bar {
	flex: 1;
	padding: 0;
	margin: 0;
	height: var(--nav-height);
	display: flex;
	flex-direction: row;
	list-style: none;
}

#nav-bar > li {
	transition: background-color 200ms;
}

#nav-bar > li:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

#nav-bar > li > a {
	display: block;
	padding: 0 20px;
	box-sizing: border-box;
	line-height: var(--nav-height);
	text-decoration: none;
	color: var(--font-color-dark);
}

#nav-bar #home {
	font-weight: bold;
	font-size: 150%;
}

header > #btn-strava-connect,
header > #btn-strava-disconnect {
	position: relative;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
}

header > #btn-strava-disconnect {
	padding: 10px;
	background-color: var(--font-color-dark);
	border-radius: 4px;
	margin: 10px;
	text-decoration: none;
}

#btn-strava-connect img {
	margin: auto;
}

#btn-strava-disconnect p {
	display: block;
	margin: auto;
	color: white;
	text-align: center;
	font-weight: bold;
}


#content-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: var(--card-gap);
}

#content {
	max-width: var(--max-page-width);
	margin: 0 auto;
}

.cards-container {
	display: grid;
	/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids#as_many_columns_as_will_fit */
	grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
	gap: var(--card-gap);
	grid-gap: var(--card-gap);
	grid-auto-rows: minmax(var(--card-min-height), auto);
}


.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--card-pad);
}

.nowrap {
	flex-wrap: nowrap;
	overflow: hidden;
	text-wrap: nowrap;
}


/* The 'cards' on the main page */

.card {
	padding: var(--card-pad);
	border-radius: var(--card-border-radius);
}

.card.strong { background-color: var(--color-strong1); }
.card.mid { background-color: var(--color-mid1); }

.card .plot {
	width: 100%;
}


/* The profile card with the user's pic, name and location */

.card.profile {
	grid-column: span 2;
}

.card.profile .avatar {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar > img {
	border-radius: 100%;
	max-height: 100%;
	aspect-ratio: 1;
	border: 2px solid var(--color-mid1);
	box-sizing: border-box;
}

.card.profile * {
	color: var(--color-dim);
	vertical-align: middle;
}

.card.profile .name {
	font-size: 200%;
}

.card.summary p,
.card.profile p {
	margin: 0;
}


/* The summary card with each sport's totals */

.card.summary {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: var(--card-pad);
	grid-gap: var(--card-pad);

	padding: var(--card-gap) 0 0 0;
}

.stat-group {
	border: 1px solid var(--divider-color);
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	color: var(--font-color-dark);
}

.stat-group.selected {
	border: 2px solid var(--color-strong1);
	background-color: var(--color-dim);
}

.stat-group > i {
	font-size: 200%;
}

.stat-group.selected > i {
	animation: bob ease-in-out 3s infinite;
}

.stat-group .distance {
	font-weight: bold;
}


/* The map plot */

.card.distance-map {
	grid-column: span 2;
}

.card.distance-map .plot {
	height: 400px;
}


footer {
	margin: 0 max(calc(50% - 0.5 * var(--max-page-width)), 0px);
	border-top: 1px solid var(--divider-color);
}

footer > #strava-logo {
	height: 32px;
	float: right;
}
